@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Dosis';

    background: #EFEFBB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    



}

.container {
    display: grid;
    ;
    place-items: center;

}