.accordion {
  width: 80%;
  margin: 4rem auto;
  border: none;
  background-color: white;
}
.head {
  font-size: 22px;
  font-weight: 700;
}
.para {
  font-size: 20px;
  font-weight: 500;
}
.para .link {
  font-size: 20px;
  text-decoration: underline;
  color: #ff4248;
}
