.CategoryProduct{
    display: flex;
    justify-content: space-between;
   
    align-items: center;
    .cat-product{
       width: 70%;
       min-width: 400px;
    } 
    .cat-addbutton{
        .addbutton{
            width: 100px;
            height: 50px;
            text-align: center;
            background-color: yellow;
            font-size: large;
            font-weight:800;
            padding: 10px;
            border: none;
            border-radius:4px;
          }
          .handleinput{
            width: 100px;
            display: none;
           
            
            button{
                height: 50px;
                width:40px;
                background-color: inherit;
                border: white 1px;
                background-color: yellow;
            }
            .qty{
                height: 50px;
                display: inline-block;
                // background-color: inherit;
                text-align: center;
                // background-color: yellow;
            }
          }
    }

}
@media (max-width: 960px){
    .CategoryProduct{
       flex-direction: column;
       .cat-addbutton{
        .addbutton{
            width: 300px;
        }
       }
    }
}