.items{
    width: 40%;
    overflow: scroll;
    overflow-x: hidden;
    height: 80vh;
   
}
::-webkit-scrollbar{display:none;}

@media (max-width: 960px){
    .items {
        width: 100%;
        min-width: 400px;
    }
}