.main{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: normal;
    justify-content: space-around;
    flex-direction: row;
    // margin-top: 600px;
}

@media (max-width: 960px){
    .main{
        display: flex;
        flex-direction: column;
    }
 }