/* @import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600;700&display=swap'); */


.main-nav {
    /* font-family: 'Bai Jamjuree', sans-serif; */
    background-color: #1f5156;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    height: 6rem;
    width: 100%;
    transition: .3s ease-in-out;
    margin-top: 4.5rem;
}

.main-nav a {
    color: #ff794f;
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 10px;
}

.main-nav a:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-thickness: 7px;
    transition: color 0.3s ease-in;
}

.title {
    position: absolute;
    left: 1rem;
    top: -0.3rem;
    font-weight: 700;
}

.main-nav .title {
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
}

.main-nav .title:hover {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    .main-nav {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 4rem;
        transition: .3s ease-out;
        margin-top: 0;
    }

    .title {
        position: relative;
        /* right: 10rem; */
        left: -7rem;
        font-weight: 700;
    }

    .main-nav .title {
        font-size: 2.5rem;
        color: white;
    }

    .main-nav .title:hover {
        text-decoration: none;
        color: white;
    }
}