.hide{
    display : none;
}
.car{background: url('enemycar4.png');
background-repeat: no-repeat;
    background-size:100% 100%;
    height:70px;
    width: 50px;
    position: absolute;
    top:560px;
    left:100px;

}
.gamearea{margin: auto;
    width:405px;
    height:100vh;
    background-color: #393737;
    position: relative;
    border-left:5px dashed white;
    border-right:5px dashed white;
}
.roadstrip{
    height: 85px;
width: 6px;
background-color: aliceblue;
position: absolute;
left: 197px;
}
.enemy{
    height:70px;
    width: 50px;
    background:url('enemycar2.png');
    background-repeat: no-repeat;
    background-size:100% 100%;
    position: absolute;
    top:400px;
}
body{
    overflow: hidden;
    width:100%;
    height:97vh;
    background: url('yellowcar.jpg');
    background-repeat: no-repeat;
    background-size:100% 100%;
    /* above statement is to hide both vertical and horizantal scrollbar */
}
.startscreen{        font-family: cursive;
margin: auto;
height: 107px;
width: 202px;
background-color: #3c99d5;
color: white;
border-radius: 20px;
padding-top: 11px;
text-align: center;
font-size: 33px;
box-shadow: 0px 6px 10px #c35357;
position: relative;
top: 200px;
cursor:pointer;
}
.score{
    height: 44px;
width: 135px;
background-color: blue;
color: white;
font-size: 30px;
padding-top: 4px;
padding-left: 8px;
position: absolute;
border: 2px solid white;
border-radius: 11px;
box-shadow: 0 5px 5px red

}