body {
    margin: 0;
    font-family: monospace, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
img {
    height: 80px;
}
.App .card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}
.App .card:hover {
    box-shadow: 0 2px 10px #777;
}
.productsWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.btn {
    border: none;
    outline: none;
    background: #764abc;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background: #513282;
}

.App .heading {
    padding: 25px 0;
    background-color: #513282;
}
.cartCount {
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 40px;
}
.navLink {
    text-decoration: none;
    color: black;
    margin-left: 20px;
}

.cartCard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 5px;
}

