body {
	margin: 0;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
.Appcon{
    overflow: hidden;
    border-radius: 5px;
    background-color: #f0f0fa;
    user-select: none;
}
.App img {
    height: 200px;
    width: 100%;
}
 .card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 280px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
}
.card:hover {
    box-shadow: 0 2px 5px #aaa;
}
 .productsWrapper {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.cartWrapper{
    display: flex;
    flex-direction: column;
}
.App .btn {
    border: none;
    outline: none;
    background: 4e54c8;
    padding: 10px 15px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: all 0.3s ease-in-out;
}

.App .btn:hover {
    background: #4e54c8;
}

.App .heading {
    padding: 25px 0;
}
.App .navLink {
    text-decoration: none;
    color: white;
    margin-left: 20px;
}

.App .cartCard {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background: #fff;
    margin-bottom: 20px;
    padding: 14px;
    border-radius: 5px;
}
.cartCard img{
    margin-bottom: 5px;
}
.App .cartCard p{
    margin: 0;
}
@media only screen and (max-width: 800px) {
    .App .cartCard {
        flex-direction: column;
    }
  }



