.container {
  margin-top: 100px;
}

.title {
  padding: 20px;
  background-color: #003580;
  color: antiquewhite;
  font-weight: bold;
  font-size: 30px;
}

.user {
  margin-top: 20px;
  width: 100%;
}
.form {
  width: 100%;
  background-color: blanchedalmond;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputFields {
  width: 400px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.nameField {
  display: flex;
}
.emailField {
  width: 100%;
}
