:root {
    --primary-font-color: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
    --content-color: hsla(210, 58%, 69%, 1);
    --color-white: hsl(0, 0%, 100%);
    --color-black-blue: hsl(239, 90%, 11%);
    --button-color: linear-gradient(319deg, #ff794f, #ffd90f);
}

.similar-content {
    width: 100%;
    max-width: 390px;
    margin: 0;
    transition: transform 0.6s cubic-bezier(0.5, 1, 0.89, 1);
}

.main-heading {
    font-size: 1.7rem;
    color: var(--primary-font-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contents {
    color: var(--content-color);
    text-align: center;
    margin: 20px;
    font-size: 0.9rem;
}

.content-box {
    background-color: var(--color-black-blue);
    margin-left: 20px;
    padding: 15px 0;
}

label {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--content-color);
    margin-left: 30px;
}

#similarity {
    margin-left: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 270px;
    height: 35px;
    font-family: inherit;
    font-weight: 600;
    border: 1px solid rgb(158, 131, 121);
    outline: none;
}

.buttons .btns {
    margin-bottom: 10px;
    padding: 10px;
    background: var(--button-color);
    color: var(--color-white);
    font-weight: 700;
    margin-right: 10px;
    font-family: inherit;
    cursor: pointer;
    border: 0;
}

.buttons .btns:hover {
    transform: scale(1.1);
}

#similarbox {
    display: block;
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    resize: vertical;
    font: inherit;
    font-weight: 700;
    font-size: 1.3rem;
    min-height: 35vh;
    margin-left: 29px;
    margin-bottom: 20px;
    margin-top: 40px;
    border: 0;
    border-top: 4px solid hsla(210, 58%, 69%, 1);
    outline: none;
    transition: transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    background-color: #e5dbff;
}

.thanks p {
    color: var(--content-color);
    text-align: center;
}

.thanks p a {
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.4rem;
    margin-left: 10px;
}

@media screen and (min-width:768px) {
    .similar-content {
        width: 100%;
        max-width: 1000px;
        margin-left: 250px;
    }

    .main-heading {
        text-align: center;
        font-size: 2.5rem;
    }

    .contents {
        font-size: 1.5rem;
    }

    .content-box {
        margin-top: 50px;
    }

    label {
        display: block;
        font-size: 1.8rem;
    }

    #similarity {
        width: 100%;
        max-width: 570px;
        height: 50px;
        font-family: inherit;
        font-size: 1.5rem;
        margin-bottom: 30px;
    }

    .buttons .btns {
        margin-left: 30px;
    }

    .textbox {
        margin-left: 100px;
    }

    #similarbox {
        width: 100%;
        max-width: 700px;
        font-family: inherit;
        font-size: 1.5rem;
    }
}