ul > li{
    margin: 0 10px;
    letter-spacing: .2rem;
}
h2{
    color: #4A87CE;
    font-family: roboto;
    text-transform: uppercase;
}
span{
    color: #000;
}
@media (min-width: 640px) {
    .menu-icon {
        display: none
    }
}

@media (max-width: 640px) {
    .menu-container {
        display: none
    }
}

.active{
    color: aqua;
}