.blog {
  font-family: "Roboto", sans-serif;
}
.navbar {
  min-height: 13vh;
  background-color: #ffe300;
  font-family: "Roboto", sans-serif;
}
.container {
  width: 80%;
  margin: 3rem auto;
  position: relative;
}

.head {
  font-size: 3rem;
  margin-bottom: 2rem;
}
.content {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;
  width: 85%;
  text-align: justify;
  margin: 1.5rem 0;
}
.time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  border-bottom: solid 1px #dedfe8;
  padding-bottom: 1.5rem;
}
.time p {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  color: rgba(93, 95, 102, 1);
}
.btn {
  background-color: #ff4248;
  border: none;
  color: white;
  font-size: 1rem;
  font-weight: 400;
  padding: 20px 80px;
  border-radius: 50px;
  transition: all 0.3s;
}
.btn:hover {
  background-color: #f63940;
  cursor: pointer;
}
.blogs {
  width: 110%;

  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  /* padding: 0.5rem 1rem; */
  margin: 2rem auto;
}
.card {
  width: 300px;
  height: 300px;
  border: solid 1px rgba(222, 223, 232, 1);
  box-shadow: rgba(121, 107, 167, 0.25);
  border-radius: 10px;
}
.card-content {
  margin: 0 auto;
  width: 80%;
  padding: 1rem;
}
.cardImage {
  width: 100%;
}
.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-content p {
  color: rgba(93, 95, 102, 1);
  font-size: 0.9rem;
  margin: 0.7rem 0;
  font-weight: 400;
}
.card-content h3 {
  font-size: 1.2rem;
  font-weight: 700;
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.arrow {
  border: rgba(222, 223, 232, 1);
  padding: 10px;
  background-color: transparent;
  border-radius: 10px;
}
.greenline {
  position: absolute;
  top: 100px;
  right: 0;
  z-index: -10;
}
.redline {
  position: absolute;
  width: 130px;
  top: 300px;
  left: 0;
  z-index: -10;
}

@media (max-width: 1100px) {
  .image {
    width: 100%;
  }
}
@media (max-width: 676px) {
  .time {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
  .btn {
    width: 100%;
  }
  .blogs {
    flex-direction: column;
    align-items: center;
  }
}
