@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    
}


body{
    background-color: rgb(0,42,59);
    font-family: 'Inter', sans-serif;
    width: 100%;
    min-width: fit-content;
    
}
#root{
    
    overflow-y: scroll;
}
#root::-webkit-scrollbar {
    display: none;
}
