.card{

  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  
}

.btn1{
 
  margin-left: 48%;
  margin-right: 50%;
}

.input-field{

  margin-left: 40%;
  width: 20%;
  
}

.heading{
  text-align: center;
}

