*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.faq{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

h2{
    margin-left: -130px;
    color: rgb(81, 81, 81)
}

.accordion{
    max-width: 600px;
    padding: 20px;
}

.accordion-item{
    border-bottom: 1px solid rgb(152, 152, 152);
    padding: 15px 0;
}

.item-header{
    padding: 14px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    color:rgb(105, 105, 105)
}

.title{
    font-size: 20px;
    /* font-weight: 600; */
}

.icon{
    width: 22px;
    height: 22px;
    border: 2px solid rgb(105, 105, 105);
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    line-height: 15px;
}

.text{
    color: rgb(66, 66, 66);
    padding: 0 6px;
    max-height: 0;
    overflow: hidden;
}

.accordion-item.active .text{
    max-height: 600px;
    transition: .4s linear;
}