.main-container{
    background-color:  white;
    color: black;
    width: 100vw;
    height: calc( 100vh - 42px);
    display: grid;
    place-items: center;
    text-transform: uppercase;
    text-align: center;
}
h2{
    font-weight: 700;
}
span{
    color: rgb(255, 0, 221);
    font-weight: 800;
}
