/*   <!-- github-username: abhiraj-ku
    <!-- github-link: https://github.com/abhiraj-ku  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #F8FFDB;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.main-cont{
   background-color: #9CFF2E;
   padding-top: 30px;
   padding: 30px;
  box-shadow:  8px 11px 10px black;
}
.main-cont h2{
    align-items: center;
    margin-bottom: 30px;
    font-size: 26px;
   color: #015a96;
   font-family: sans-serif;
}
input{
    padding: 20px;
    height: 50px;
    width: 400px;
    border: none;
    border-radius: 6px ;
    border: 2px solid #8d0cf7;
    font-size: 22px;
}
input::placeholder{
    font-size: 23px;
}
#button{
    display: flex;
    font-family: arial;
    font-size: 15px;
    margin-top: 40px;
    border: 2px solid #7100cf;
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: #7100cf;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
} 

 #button:hover {
   color: white;
   background-color: black;
  
   box-shadow:  0 8px 10px white;
 }