*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: sans-serif;
}
header{
    width: fit-content;
    margin: 40px auto 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header h1{
    text-align: center;
    border-bottom: 5px solid white;
    margin-right: 40px;
}
button{
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: large;
}
.boxes{
    width: 450px;
    height: 450px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}
.box{
    min-width: 150px;
    height: 150px;
    border: 2px solid white;
    display: grid;
    place-content: center;
}
.content{
    position: relative;
}
.result {
    width: 350px;
    background-color: green;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: auto;

}
.result p{
    text-align: center;
}
.hide{
    display: none;
}
footer{
    color: green;
    text-align: center;
}