body{
    margin: 0;padding: 0;
}

button{
    /* position: absolute; */
   
    background: transparent;
    border: none;
    cursor: pointer;

}


.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8c072;
    min-height: fit-content;
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carousel{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
}
/* .carousel-img{
    width:500px
} */

i{
    width: 4rem;
}
@media screen and (max-width:750px) {
    /* .carousel{
        flex-direction: column;


    } */
    .carousel-img{
        width:100%
    }

   

}
.right{
position: absolute;
z-index: 2;
top:45vh;
right: 10%;
}
.left{
    position: absolute;
    z-index: 2;
    top:45vh;
    left: 10%;
    }