.main-container{
    background-color:  black;
    color: white;
    width: 100vw;
    height: calc( 100vh - 42px);
    display: grid;
    place-items: center;
    text-transform: uppercase;
    text-align: center;
}
h2{
    font-weight: 800;
}
span{
    color: blue;
    font-weight: 800;
}
