body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .swiper-button-next,
.swiper-button-prev {
  background-size: contain;
  width: 30px;
  height: 30px;
  color: blue;
}
.swiper-button-next {
  background-image: url("./pages/resources//larrow.svg");
}
.swiper-button-prev {
  position: absolute;
  left: 0;
  background-image: url("./pages/resources//rarrow.svg");
} */
