.search {
	display: flex;
	align-items: center;
	background-color: rgb(233, 233, 233);
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
}

.search input {
	border: none;
	background-color: rgb(233, 233, 233);
	width: 1100px;
	height: 40px;
}

.search input:focus {
	outline: none;
}