
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-color: hsl(0, 0%, 98%);
  font-family: 'Nunito Sans' , sans-serif;
}
#root {
  margin: 0 auto;
  max-width: 1440px;
}
.dark{
  background-color: #202c37;
}