.operationButton{
    padding: 14px;
    margin: 10px;
    font-size: 25px;
    border: 1px solid cyan;
    outline-color: cyan;
    border-radius: 5px;
    cursor: pointer;
}
.lightButton{
    color: black;
    background-color: lightgray;
}
.darkButton{
    color: white;
    background-color: var(--lightBlack);
}
.operationButton[type="submit"]{
    background-color: lightgreen;
    color: black;
}
@media screen and (max-width: 425px){
    .operationButton{
        font-size: 25px;
        padding: 15px;
    }
}
@media screen and (max-width: 332px){
    .operationButton{
        font-size: 25px;
        margin: 5px;
    }
}