.test {
    background-color: blue;
}

.img-wisata img{
    height: auto;
    max-width: inherit;
    object-fit: cover;
}

.tinggi {
    height: 500px;
}

.container-img img {
    min-width: -webkit-fill-available;
    /* max-height: 540px; */
}

.img-rev img{
    width: 100px; /* You can set the dimensions to whatever you want */
    height: 150px;
    object-fit: cover;
}

.navhover:hover {
    color: orangered !important;
    border-bottom: 1px solid !important;
    border-width: 2px !important;
}

.container-img-rev {
    position: relative;
    /* width: 37%; The size you want */
  }
  .container-img-rev:after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
  }
  
  .container-img-rev img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
  }

  .btn-cs {
    background-color: orangered;
    color: white;
}

.btn-cs:hover {
    background-color: tomato;
    color: white;
}

.btn-cs:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 99 71 / 25%) !important;
    background-color: tomato;
}

.rating-color {
    color: orangered;
}

.black {
    color: black;
}

.dropdown-menu-start[data-bs-popper] {
    left: auto!important;
    right: 0!important;
  }