.true {
  display: flex;
}

.false {
  display: none;
}

.card-body {
  background-color: rgb(255, 255, 255);
  // display: flex;
  flex-direction: column;
  margin: 30px;
  border-radius: 20px;
  max-width: 27%;
  position: relative;

  .card-image {
    img {
      width: 100%;
      border-radius: 10px 10px 0px 0px;
    }
  }

  .Upcoming {
    color: rgb(0, 0, 0);
    background-color: rgb(252, 241, 210);
    font-size: 14px;
    padding: 2px 14px;
    margin: 30px auto;
    justify-content: center;
    display: flex;
    border-radius: 10px;
  }

  .Active {
    color: rgb(103, 167, 110);
    background-color: rgb(210, 229, 212);
    font-size: 14px;
    padding: 2px 14px;
    margin: 30px auto;
    justify-content: center;
    display: flex;
    border-radius: 8px;
  }

  .Past {
    color: rgb(140, 132, 129);
    background-color: rgb(255, 222, 212);
    font-size: 14px;
    padding: 2px 14px;
    margin: 30px auto;
    justify-content: center;
    display: flex;
    border-radius: 10px;
  }
  .card-name {
    color: black;
    font-size: 20px;
    font-weight: 700;
    width: 70%;
    text-align: center;
    margin: 0px auto;
  }

  .countdown {
    margin: 30px auto;
    color: rgb(103, 103, 103);
    display: flex;
    flex-direction: column;

    .countdown-header {
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 10px;
    }

    .countdown-timer {
      color: #000;

      .active {
        display: flex;
      }

      .inactive {
        display: none;
      }

      .counter {
        width: 100%;
        justify-content: space-around;

        .time {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          padding: 5px 5px;

          .time-value {
            font-weight: 600;
            color: rgb(69, 69, 69);
            font-size: 20px;
          }

          .time-label {
            color: rgb(79, 79, 79);
            font-size: 10px;
          }
        }
        .seperater {
          font-weight: 600;
          color: rgb(69, 69, 69);
          font-size: 20px;
          padding-top: 3px;
        }
      }

      .ended_on {
        font-weight: 600;
        color: rgb(70, 70, 70);
        font-size: 21px;
        padding-top: 9px;
        margin-bottom: 16px;
      }
    }
  }

  .participate {
    background-color: rgb(68, 146, 76);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    text-decoration: none;
    padding: 10px 10px;
    margin: 30px auto;
    border-radius: 11px;
    font-size: 19px;
    font-weight: 500;

    .bi-check2-circle {
      font-size: 22px;
    }
  }

  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 1024px) {
  .card-body {
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    margin: 30px;
    border-radius: 20px;
    max-width: 35%;
    position: relative;

    .Upcoming {
      margin: 20px auto;
    }

    .Active {
      margin: 20px auto;
    }

    .Past {
      margin: 20px auto;
    }
    .card-name {
      width: 75%;
    }

    .countdown {
      margin: 12px auto;
    }

    .participate {
      width: 57%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 25px;

      .bi-check2-circle {
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width: 770px) {
  .card-body {
    margin: 30px 10px;
    max-width: 45%;

    .Upcoming {
      margin: 20px auto;
    }

    .Active {
      margin: 20px auto;
    }

    .Past {
      margin: 20px auto;
    }
    .card-name {
      width: 75%;
    }

    .countdown {
      margin: 12px auto;
    }

    .participate {
      width: 59%;
      margin: auto;
      margin-top: 10px;
      margin-bottom: 25px;

      .bi-check2-circle {
        font-size: 22px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .card-body {
    margin: 30px 10px;
    max-width: 41%;

    .Upcoming {
      font-size: 10px;
      padding: 2px 10px;
      margin: 10px auto;
    }

    .Active {
      font-size: 10px;
      padding: 2px 10px;
      margin: 10px auto;
    }

    .Past {
      font-size: 10px;
      padding: 2px 10px;
      margin: 10px auto;
    }
    .card-name {
      font-size: 10px;
      width: 90%;
    }
    .countdown {
      width: 100%;

      .countdown-header {
        font-size: 9px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 10px;
      }

      .countdown-timer {
        color: #000;
        width: 100%;
        padding: 2px;
        box-sizing: border-box;
        margin-bottom: 25px;

        .active {
          display: flex;
        }

        .inactive {
          display: none;
        }

        .counter {
          width: 100%;
          justify-content: space-around;

          .time {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: 5px 0px;

            .time-value {
              font-weight: 600;
              color: rgb(69, 69, 69);
              font-size: 10px;
            }

            .time-label {
              color: rgb(79, 79, 79);
              font-size: 10px;
            }
          }
          .seperater {
            font-weight: 600;
            color: rgb(69, 69, 69);
            font-size: 10px;
            padding-top: 4px;
          }
        }

        .ended_on {
          font-weight: 600;
          color: rgb(70, 70, 70);
          font-size: 10px;
          padding-top: 6px;
          margin-bottom: 0px;
          justify-content: center;
        }
      }
    }

    .participate {
      width: 81%;
      padding: 6px 4px;
      margin: auto;
      margin-top: 0px;
      margin-bottom: 10px;
      font-size: 9px;
      position: absolute;
      bottom: 0px;
      left: 12px;

      .bi-check2-circle {
        font-size: 10px;
      }
    }

    a {
      text-decoration: none;
    }
  }
}
