@font-face {
  font-family: imported;
  src: url("./font/BigelowRules-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to left,
    rgba(7, 27, 82, 1) 0%,
    rgba(0, 128, 128, 1) 100%
  );
  text-align: center;
  width: 100vw;
}

.app-title {
  margin-top: 45px;
  margin-bottom: 50px;
  font-size: 76px;
  color: #0ccac4;
  font-family: imported;
}
