.note {
  padding: 25px;
  height: 280px;
  width: 260px;
  display: flex;
  flex-direction: column;
  background-color: blueviolet;
  border-radius: 30px;
}

.note_text {
  flex: 1;
  resize: none;
  background-color: transparent;
  font-size: 1rem;
  line-height: 1.875rem;
  outline: none;
  border: none;
}

.note_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.note_footer img {
  cursor: pointer;
  opacity: 0;
  transition: 300ms;
}

.note:hover .note_footer img {
  opacity: 1;
}
